# üçé ÌååÏù¥Ïç¨ Î®∏Ïã†Îü¨Îãù ÏôÑÎ≤Ω Í∞ÄÏù¥Îìú ÌòºÍ≥µ

### 2019.05.19 ~ 2019.05.26 ÍµêÏû¨ 07Ïû•

### 07. Íµ∞ÏßëÌôî

#### 06. Íµ∞ÏßëÌôî Ïã§Ïäµ - Í≥†Í∞ù ÏÑ∏Í∑∏Î®ºÌÖåÏù¥ÏÖò 

Ïò®ÎùºÏù∏ ÌåêÎß§ Îç∞Ïù¥ÌÑ∞Î•º Í∏∞Î∞òÏúºÎ°ú Í≥†Í∞ù ÏÑ∏Í∑∏Î®ºÌÖåÏù¥ÏÖòÏùÑ Íµ∞ÏßëÌôî Í∏∞Î∞òÏúºÎ°ú ÏàòÌñâ.

##### Îç∞Ïù¥ÌÑ∞ ÏÑ∏Ìä∏ Î°úÎî©Í≥º Îç∞Ïù¥ÌÑ∞ ÌÅ¥Î†åÏßï

In [1]:
import pandas as pd 
import datetime 
import math 
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline 

retail_df = pd.read_excel('data/07. Online Retail.xlsx')
retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [2]:
retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null datetime64[ns]
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

- CustomerIDÎäî ÌïÑÏöîÌïú ÏπºÎüºÏù∏Îç∞ NullÍ∞íÏù¥ ÎßéÏùå. ÏóÜÏúºÎ©¥ Í≥†Í∞ù ÏÑ∏Í∑∏Î©òÌÖåÏù¥ÏÖòÏùÑ ÏàòÌñâÌïòÏßÄ Î™ªÌïòÎØÄÎ°ú NullÍ∞í ÏûêÏ≤¥Ïùò Ïù∏Îç±Ïä§Îäî ÏßÄÏö∞Î©¥ Îê®.
- Ïò§Î•ò Îç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†ú: ÎåÄÌëúÏ†ÅÏúºÎ°ú quantityÎÇò unitpriceÍ∞Ä 0Î≥¥Îã§ ÏûëÏùÄ Í≤ΩÏö∞ = Î∞òÌôò = invoiceNoÏùò ÏïûÏûêÎ¶¨Í∞Ä 'C'Î°ú ÎêòÏñ¥ ÏûàÏùå.

In [3]:
retail_df = retail_df[retail_df['Quantity'] > 0] # Ïò§Î•ò Îç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†ú 
retail_df = retail_df[retail_df['UnitPrice'] > 0]
retail_df = retail_df[retail_df['CustomerID'].notnull()] # null Í∞í ÏÇ≠Ï†ú
print(retail_df.shape)
retail_df.isnull().sum()

(397884, 8)

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [4]:
retail_df['Country'].value_counts()[:5]

United Kingdom    354321
Germany             9040
France              8341
EIRE                7236
Spain               2484
Name: Country, dtype: int64

ÏòÅÍµ≠Ïù¥ ÎåÄÎã§ÏàòÏù¥ÎØÄÎ°ú Îã§Î•∏ Îç∞Ïù¥ÌÑ∞ ÏÇ≠Ï†ú.

In [5]:
retail_df = retail_df[retail_df['Country'] == 'United Kingdom']
retail_df.shape

(354321, 8)

##### RFM Í∏∞Î∞ò Îç∞Ïù¥ÌÑ∞ Í∞ÄÍ≥µ 

recency(Í∞ÄÏû• ÏµúÍ∑º ÏÉÅÌíà Íµ¨ÏûÖÏùºÏóêÏÑú Ïò§ÎäòÍπåÏßÄÏùò Í∏∞Í∞Ñ) / frequency(ÏÉÅÌíà Íµ¨Îß§ ÌöüÏàò) / monetary value(Ï¥ù Íµ¨Îß§Í∏àÏï°)

In [6]:
# Íµ¨Îß§ Í∏àÏï°
retail_df['sale_amount'] = retail_df['Quantity'] * retail_df['UnitPrice']
retail_df['CustomerID'] = retail_df['CustomerID'].astype(int)

In [7]:
# top 5 Ï£ºÎ¨∏Ïûê 
retail_df['CustomerID'].value_counts().head(5)

17841    7847
14096    5111
12748    4595
14606    2700
15311    2379
Name: CustomerID, dtype: int64

In [8]:
# top5 Ï£ºÎ¨∏Í∏àÏï° Í∞ÄÏßÑ Í≥†Í∞ù 
retail_df.groupby('CustomerID')['sale_amount'].sum().sort_values(ascending=False)[:5]

CustomerID
18102    259657.30
17450    194550.79
16446    168472.50
17511     91062.38
16029     81024.84
Name: sale_amount, dtype: float64

In [9]:
# Ï£ºÎ¨∏Î≤àÌò∏ÏôÄ ÏÉÅÌíàÏΩîÎìúÎäî Í±∞Ïùò 1Ïóê Í∞ÄÍπåÏö¥ ÏãùÎ≥ÑÏûê Î†àÎ≤®Î°ú 
retail_df.groupby(['InvoiceNo','StockCode'])['InvoiceNo'].count().mean()

1.028702077315023

Í∑∏Îü¨ÎÇò RFM Í∏∞Î∞òÏùò Í≥†Í∞ù ÏÑ∏Í∑∏Î©òÌÖåÏù¥ÏÖòÏùÄ **Í≥†Í∞ù Î†àÎ≤®Î°ú Ï£ºÎ¨∏ Í∏∞Í∞Ñ, Ï£ºÎ¨∏ ÌöüÏàò, Ï£ºÎ¨∏ Í∏àÏï° Îç∞Ïù¥ÌÑ∞**Î•º Í∏∞Î∞òÏúºÎ°ú ÏÑ∏Í∑∏Î©òÌÖåÏù¥ÏÖò ÏàòÌñâÌïòÎäî Í≤É -> Ï£ºÎ¨∏Î≤àÌò∏+ÏÉÅÌíàÏΩîÎìú Í∏∞Ï§ÄÏùò Îç∞Ïù¥ÌÑ∞Î•º Í≥†Í∞ù Í∏∞Ï§ÄÏùò RFM Îç∞Ïù¥ÌÑ∞Î°ú Î≥ÄÍ≤ΩÌï† Í≤É.

In [10]:
aggregations = {
    'InvoiceDate':'max',
    'InvoiceNo' : 'count',
    'sale_amount': 'sum'
}
cust_df = retail_df.groupby('CustomerID').agg(aggregations)
cust_df = cust_df.rename(columns= {'InvoiceDate': 'Recency',
                                  'InvoiceNo':'Frequency',
                                  'sale_amount':'Monetary'})
cust_df = cust_df.reset_index()
cust_df.head(3)

   CustomerID             Recency  Frequency  Monetary
0       12346 2011-01-18 10:01:00          1  77183.60
1       12747 2011-12-07 14:34:00        103   4196.01
2       12748 2011-12-09 12:20:00       4595  33719.73

RecencyÎäî Í≥†Í∞ùÏù¥ Í∞ÄÏû• ÏµúÍ∑ºÏóê Ï£ºÎ¨∏Ìïú ÎÇ†Ïßú Í∏∞Î∞ò. Ïò§Îäò ÎÇ†ÏßúÎ•º Í∏∞Ï§ÄÏúºÎ°ú Í∞ÄÏû• ÏµúÍ∑º Ï£ºÎ¨∏ ÏùºÏûêÎ•º Î∫Ä ÎÇ†Ïßú. Ïò®ÎùºÏù∏ ÌåêÎß§ Îç∞Ïù¥ÌÑ∞Í∞Ä 2010ÎÖÑ 12Ïõî 1ÏùºÏóêÏÑú 2011ÎÖÑ 12Ïõî 9ÏùºÍπåÏßÄÏùò Îç∞Ïù¥ÌÑ∞Ïù¥ÎØÄÎ°ú Ïò§Îäò ÎÇ†ÏßúÎäî 2011ÎÖÑ 12Ïõî 10ÏùºÎ°ú!

In [11]:
import datetime as dt

cust_df['Recency'] = dt.datetime(2011,12,10) - cust_df['Recency']
print(cust_df.head())
cust_df['Recency'] = cust_df['Recency'].apply(lambda x: x.days+1)
print('cust_df Î°úÏö∞ÏôÄ Ïª¨Îüº Í±¥ÏàòÎäî ',cust_df.shape)
cust_df.head(3)

   CustomerID           Recency  Frequency  Monetary
0       12346 325 days 13:59:00          1  77183.60
1       12747   2 days 09:26:00        103   4196.01
2       12748   0 days 11:40:00       4595  33719.73
3       12749   3 days 14:04:00        199   4090.88
4       12820   3 days 08:48:00         59    942.34
cust_df Î°úÏö∞ÏôÄ Ïª¨Îüº Í±¥ÏàòÎäî  (3920, 4)

   CustomerID  Recency  Frequency  Monetary
0       12346      326          1  77183.60
1       12747        3        103   4196.01
2       12748        1       4595  33719.73