# ğŸ íŒŒì´ì¬ ë¨¸ì‹ ëŸ¬ë‹ ì™„ë²½ ê°€ì´ë“œ í˜¼ê³µ

### 2019.05.27 ~ 2019.06.02 êµì¬ 09ì¥

### 09. ì¶”ì²œ ì‹œìŠ¤í…œ

#### 05. ì½˜í…ì¸  ê¸°ë°˜ í•„í„°ë§ ì‹¤ìŠµ - TMDB 5000 ì˜í™” ë°ì´í„° ì„¸íŠ¸ 

ì‚¬ìš©ìê°€ íŠ¹ì • ì˜í™”ë¥¼ ì¢‹ì•„í–ˆë‹¤ë©´ ê·¸ ì˜í™”ì™€ ë¹„ìŠ·í•œ íŠ¹ì„±/ì†ì„±, êµ¬ì„± ìš”ì†Œ ë“±ì„ ê°€ì§„ ë‹¤ë¥¸ ì˜í™”ë¥¼ ì¶”ì²œí•˜ëŠ” ê²ƒ. ì¥ë¥´ ì¹¼ëŸ¼ ê°’ì˜ ìœ ì‚¬ë„ë¥¼ ë¹„êµí•œ ë’¤ ê·¸ì¤‘ ë†’ì€ í‰ì ì„ ê°€ì§€ëŠ” ì˜í™”ë¥¼ ì¶”ì²œí•˜ëŠ” ë°©ì‹.

##### ë°ì´í„° ë¡œë”© ë° ê°€ê³µ

In [1]:
import pandas as pd 
import numpy as np 
import warnings; warnings.filterwarnings('ignore')

movies = pd.read_csv('data/09. tmdb_5000_movies.csv')
print(movies.shape)
movies.head(1)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [2]:
movies_df = movies[['id','title','genres','vote_average','vote_count','popularity',
                   'keywords','overview']]

In [3]:
pd.set_option('max_colwidth', 100)
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

ã…‹ã…‹ã…‹ã…‹ì „ì²˜ë¦¬ ë§í• ë†ˆ. ë¬¸ìì—´ë¡œ ë˜ì–´ ìˆìœ¼ë‹ˆê¹Œ ì´ë¥¼ ë¬¸ìì—´ì´ ì˜ë¯¸í•˜ëŠ” ë¦¬ìŠ¤íŠ¸ ë”•íŠ¸ í˜•íƒœë¡œ ë°”ê¾¸ì–´ì£¼ëŠ” ê²ƒì´ ë°”ë¡œ ast ëª¨ë“ˆì˜ literal_eval()

In [4]:
from ast import literal_eval 
movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

ì—¬ê¸°ì—ì„œ nameì—ë§Œ ë‹´ê²¨ìˆëŠ” ì¥ë¥´ëª…ë§Œ ì¶”ì¶œí•  ê²ƒ.

In [5]:
movies_df['genres'] = movies_df['genres'].apply(lambda x: [ y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x: [ y['name'] for y in x])
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

##### ì¥ë¥´ ì½˜í…ì¸  ìœ ì‚¬ë„ ì¸¡ì • 
genresë¥¼ ë¬¸ìì—´ë¡œ ë³€ê²½í•œ ë’¤ ì´ë¥¼ CountVectorizerë¡œ í”¼ì²˜ ë°±í„°í™”í•œ í–‰ë ¬ ë°ì´í„° ê°’ì„ ì½”ì‚¬ì¸ ìœ ì‚¬ë„ë¡œ ë¹„êµí•˜ëŠ” ê²ƒ.

In [9]:
from sklearn.feature_extraction.text import CountVectorizer 

movies_df['genres_literal'] = movies_df['genres'].apply(lambda x: (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

In [11]:
# joinì„ í™œìš©í•˜ë©´ ë¦¬ìŠ¤íŠ¸ë¥¼ ' 'ì„ ê¸°ì¤€ìœ¼ë¡œ í•œ stringìœ¼ë¡œ ë§Œë“¤ì–´ì¤Œ 
movies_df['genres_literal']

0       Action Adventure Fantasy Science Fiction
1                       Adventure Fantasy Action
2                         Action Adventure Crime
3                    Action Crime Drama Thriller
4               Action Adventure Science Fiction
                          ...
4798                       Action Crime Thriller
4799                              Comedy Romance
4800               Comedy Drama Romance TV Movie
4801
4802                                 Documentary
Name: genres_literal, Length: 4803, dtype: object

In [13]:
genre_mat

<4803x276 sparse matrix of type '<class 'numpy.int64'>'
	with 20631 stored elements in Compressed Sparse Row format>

In [14]:
from sklearn.metrics.pairwise import cosine_similarity 

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:1])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]]

In [16]:
# ìœ ì‚¬ë„ê°€ ë†’ì€ ìˆœìœ¼ë¡œ ì •ë¦¬ëœ genre_sim ê°ì²´ì˜ ë¹„êµí–‰ ìœ„ì¹˜ ì¸ë±ìŠ¤ ê°’ ì–»ì„ ìˆ˜ ìˆìŒ. 
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
genre_sim_sorted_ind[:1]

array([[   0, 3494,  813, ..., 3038, 3037, 2401]])

ì œì¼ ì²«ë²ˆì§¸ 0 ìê¸°ìì‹ ì„ ì œì™¸í•˜ê³ , 3494, 813 ìˆœìœ¼ë¡œ ìœ ì‚¬ë„ê°€ ë†’ë‹¤ëŠ” ëœ»ì„. ì¸ë±ìŠ¤ë¥¼ ì•Œë ¤ì£¼ëŠ” ê²ƒ.