# ğŸ íŒŒì´ì¬ ë¨¸ì‹ ëŸ¬ë‹ ì™„ë²½ ê°€ì´ë“œ í˜¼ê³µ

### 2019.05.27 ~ 2019.06.02 êµì¬ 09ì¥

### 09. ì¶”ì²œ ì‹œìŠ¤í…œ

#### 05. ì½˜í…ì¸  ê¸°ë°˜ í•„í„°ë§ ì‹¤ìŠµ - TMDB 5000 ì˜í™” ë°ì´í„° ì„¸íŠ¸ 

ì‚¬ìš©ìê°€ íŠ¹ì • ì˜í™”ë¥¼ ì¢‹ì•„í–ˆë‹¤ë©´ ê·¸ ì˜í™”ì™€ ë¹„ìŠ·í•œ íŠ¹ì„±/ì†ì„±, êµ¬ì„± ìš”ì†Œ ë“±ì„ ê°€ì§„ ë‹¤ë¥¸ ì˜í™”ë¥¼ ì¶”ì²œí•˜ëŠ” ê²ƒ. ì¥ë¥´ ì¹¼ëŸ¼ ê°’ì˜ ìœ ì‚¬ë„ë¥¼ ë¹„êµí•œ ë’¤ ê·¸ì¤‘ ë†’ì€ í‰ì ì„ ê°€ì§€ëŠ” ì˜í™”ë¥¼ ì¶”ì²œí•˜ëŠ” ë°©ì‹.

##### ë°ì´í„° ë¡œë”© ë° ê°€ê³µ

In [1]:
import pandas as pd 
import numpy as np 
import warnings; warnings.filterwarnings('ignore')

movies = pd.read_csv('data/09. tmdb_5000_movies.csv')
print(movies.shape)
movies.head(1)

(4803, 20)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [2]:
movies_df = movies[['id','title','genres','vote_average','vote_count','popularity',
                   'keywords','overview']]

In [3]:
pd.set_option('max_colwidth', 100)
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""name"": ""Fantasy""}, {...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"": 2964, ""name"": ""future""}, {""id"": 3386, ""name"": ""sp..."

ã…‹ã…‹ã…‹ã…‹ì „ì²˜ë¦¬ ë§í• ë†ˆ. ë¬¸ìì—´ë¡œ ë˜ì–´ ìˆìœ¼ë‹ˆê¹Œ ì´ë¥¼ ë¬¸ìì—´ì´ ì˜ë¯¸í•˜ëŠ” ë¦¬ìŠ¤íŠ¸ ë”•íŠ¸ í˜•íƒœë¡œ ë°”ê¾¸ì–´ì£¼ëŠ” ê²ƒì´ ë°”ë¡œ ast ëª¨ë“ˆì˜ literal_eval()

In [4]:
from ast import literal_eval 
movies_df['genres'] = movies_df['genres'].apply(literal_eval)
movies_df['keywords'] = movies_df['keywords'].apply(literal_eval)

ì—¬ê¸°ì—ì„œ nameì—ë§Œ ë‹´ê²¨ìˆëŠ” ì¥ë¥´ëª…ë§Œ ì¶”ì¶œí•  ê²ƒ.

In [5]:
movies_df['genres'] = movies_df['genres'].apply(lambda x: [ y['name'] for y in x])
movies_df['keywords'] = movies_df['keywords'].apply(lambda x: [ y['name'] for y in x])
movies_df[['genres', 'keywords']][:1]

,genres,keywords
0,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colony, society, space travel, futuristic, romance, spa..."

##### ì¥ë¥´ ì½˜í…ì¸  ìœ ì‚¬ë„ ì¸¡ì • 
genresë¥¼ ë¬¸ìì—´ë¡œ ë³€ê²½í•œ ë’¤ ì´ë¥¼ CountVectorizerë¡œ í”¼ì²˜ ë°±í„°í™”í•œ í–‰ë ¬ ë°ì´í„° ê°’ì„ ì½”ì‚¬ì¸ ìœ ì‚¬ë„ë¡œ ë¹„êµí•˜ëŠ” ê²ƒ.

In [9]:
from sklearn.feature_extraction.text import CountVectorizer 

movies_df['genres_literal'] = movies_df['genres'].apply(lambda x: (' ').join(x))
count_vect = CountVectorizer(min_df=0, ngram_range=(1,2))
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

In [11]:
# joinì„ í™œìš©í•˜ë©´ ë¦¬ìŠ¤íŠ¸ë¥¼ ' 'ì„ ê¸°ì¤€ìœ¼ë¡œ í•œ stringìœ¼ë¡œ ë§Œë“¤ì–´ì¤Œ 
movies_df['genres_literal']

0       Action Adventure Fantasy Science Fiction
1                       Adventure Fantasy Action
2                         Action Adventure Crime
3                    Action Crime Drama Thriller
4               Action Adventure Science Fiction
                          ...
4798                       Action Crime Thriller
4799                              Comedy Romance
4800               Comedy Drama Romance TV Movie
4801
4802                                 Documentary
Name: genres_literal, Length: 4803, dtype: object

In [13]:
genre_mat

<4803x276 sparse matrix of type '<class 'numpy.int64'>'
	with 20631 stored elements in Compressed Sparse Row format>

In [14]:
from sklearn.metrics.pairwise import cosine_similarity 

genre_sim = cosine_similarity(genre_mat, genre_mat)
print(genre_sim.shape)
print(genre_sim[:1])

(4803, 4803)
[[1.         0.59628479 0.4472136  ... 0.         0.         0.        ]]

In [17]:
# ìœ ì‚¬ë„ê°€ ë†’ì€ ìˆœìœ¼ë¡œ ì •ë¦¬ëœ genre_sim ê°ì²´ì˜ ë¹„êµí–‰ ìœ„ì¹˜ ì¸ë±ìŠ¤ ê°’ ì–»ì„ ìˆ˜ ìˆìŒ. 
genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1]
genre_sim_sorted_ind[:3]

array([[   0, 3494,  813, ..., 3038, 3037, 2401],
       [ 262,    1,  129, ..., 3069, 3067, 2401],
       [   2, 1740, 1542, ..., 3000, 2999, 2401]])

ì œì¼ ì²«ë²ˆì§¸ 0 ìê¸°ìì‹ ì„ ì œì™¸í•˜ê³ , 3494, 813 ìˆœìœ¼ë¡œ ìœ ì‚¬ë„ê°€ ë†’ë‹¤ëŠ” ëœ»ì„. ì¸ë±ìŠ¤ë¥¼ ì•Œë ¤ì£¼ëŠ” ê²ƒ.

##### ì¥ë¥´ ì½˜í…ì¸  í•„í„°ë§ì„ ì´ìš©í•œ ì˜í™” ì¶”ì²œ

In [18]:
# ë°ì´í„°í”„ë ˆì„, ìœ ì‚¬ë„ ìˆœìœ¼ë¡œ ì •ë ¬, ê¸°ì¤€ ì˜í™”, ì¶”ì²œì˜í™”ìˆ˜
def find_sim_movie(df, sorted_ind, title_name, top_n=10):
    #ì¸ìë¡œ ì…ë ¥ëœ movies_df DataFramedptj 'title'ì¹¼ëŸ¼ì´ ì…ë ¥ëœ title_name ê°’ì¸ DataFrame ì¶”ì¶œ 
    title_movie = df[df['title'] == title_name]
    
    # title_nameì„ ê°€ì§„ ë°ì´í„°í”„ë ˆì„ì˜ index ê°ì²´ë¥¼ ndarrayë¡œ ë°˜í™˜í•˜ê³ 
    # sorted_ind ì¸ìë¡œ ì…ë ¥ëœ genre_sim_sorted_ind ê°ì²´ì—ì„œ ìœ ì‚¬ë„ ìˆœìœ¼ë¡œ top_nê°œì˜ index ì¶”ì¶œ 
    title_index = title_movie.index.values
    similar_indexes = sorted_ind[title_index, :(top_n)]
    
    # ì¶”ì¶œëœ top_n index ì¶œë ¥. top_n indexëŠ” 2ì°¨ì› ë°ì´í„°. 
    # DataFrameì—ì„œ indexë¡œ ì‚¬ìš©í•˜ê¸° ìœ„í•´ì„œ 1ì°¨ì› arrayë¡œ ë³€ê²½ 
    print(similar_indexes)
    similar_indexes = similar_indexes.reshape(-1)
    
    return df.iloc[similar_indexes]

In [20]:
# ì˜í™” 'ëŒ€ë¶€'ì™€ ì¥ë¥´ë³„ë¡œ ìœ ì‚¬í•œ ì˜í™” 10ê°œ 
similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title','vote_average']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

                                               title  vote_average
2731                          The Godfather: Part II           8.3
1243                                    Mean Streets           7.2
3636                                   Light Sleeper           5.7
1946  The Bad Lieutenant: Port of Call - New Orleans           6.0
2640         Things to Do in Denver When You're Dead           6.7
4065                                      Mi America           0.0
1847                                      GoodFellas           8.2
4217                                            Kids           6.8
883                              Catch Me If You Can           7.7
3866                                     City of God           8.1

í‰ì ì´ 0ì¸ê²ƒë„ ìˆê³ , ë‚¯ì„  ì˜í™”ë„ ë§ì•„ì„œ ì¢€ ë” ë§ì€ í›„ë³´êµ°ì„ ì„ ì •í•œ ë‹¤ìŒ ì˜í™”ì˜ í‰ì ì— ë”°ë¼ í•„í„°ë§í•´ì„œ ìµœì¢… ì¶”ì²œí•˜ëŠ” ë°©ì‹ìœ¼ë¡œ ë³€ê²½

In [21]:
movies_df[['title','vote_average','vote_count']].sort_values('vote_average', 
                                                             ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

ì•„ë¬´ë˜ë„ ì†Œìˆ˜ë§Œ í‰ì  ë†’ê²Œ ì¤˜ë²„ë¦¬ë©´ í‰ì ì´ í™•ì—°íˆ ë†’ê²Œ ë‚˜ì˜´. ê·¸ë˜ì„œ í‰ì ì— í‰ê°€ íšŸìˆ˜ë¥¼ ë°˜ì˜í•  ìˆ˜ ìˆëŠ” ìƒˆë¡œìš´ í‰ê°€ë°©ì‹ì´ í•„ìš”í•¨. í‰ê°€ íšŸìˆ˜ì— ëŒ€í•œ ê°€ì¤‘ì¹˜ê°€ ë¶€ì—¬ëœ í‰ì (weighted Rating) ë°©ì‹ì„ ì‚¬ìš©í•¨.
- ê°€ì¤‘í‰ì  = (v/(v+m)*R + (m/(v+m))*C

In [22]:
C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)
print('C:', round(C,3), 'm:', round(m,3))

C: 6.092 m: 370.2

In [35]:
# ê°€ì¤‘í‰ì ì´ ë°˜ì˜ëœ ìƒˆë¡œìš´ í‰ì  ì •ë³´ í•¨ìˆ˜ ìƒì„± 
percentile = 0.6 
m = movies['vote_count'].quantile(percentile)
C = movies['vote_average'].mean()

def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return  (v/(v+m) * R ) + ( (m/(m+v))* C)

movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)

In [36]:
movies_df[['title','vote_average','weighted_vote','vote_count']].sort_values('weighted_vote', ascending=False)[:10]

                         title  vote_average  weighted_vote  vote_count
1881  The Shawshank Redemption           8.5       8.396052        8205
3337             The Godfather           8.4       8.263591        5893
662                 Fight Club           8.3       8.216455        9413
3232              Pulp Fiction           8.3       8.207102        8428
65             The Dark Knight           8.2       8.136930       12002
1818          Schindler's List           8.3       8.126069        4329
3865                  Whiplash           8.3       8.123248        4254
809               Forrest Gump           8.2       8.105954        7927
2294             Spirited Away           8.3       8.105867        3840
2731    The Godfather: Part II           8.3       8.079586        3338

In [37]:
movies_df.columns.values

array(['id', 'title', 'genres', 'vote_average', 'vote_count',
       'popularity', 'keywords', 'overview', 'genres_literal',
       'weighted_vote'], dtype=object)

In [38]:
def find_sim_movie(df, sorted_ind, title_name, top_n=10): 
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    
    # top_nì˜ 2ë°°ì— í•´ë‹¹í•˜ëŠ” ì¥ë¥´ ìœ ì‚¬ì„±ì´ ë†’ì€ ì¸ë±ìŠ¤ ì¶”ì¶œ
    similar_indexes = sorted_ind[title_index, :(top_n*2)]
    similar_indexes = similar_indexes.reshape(-1)
    # ê¸°ì¤€ ì˜í™” ì¸ë±ìŠ¤ëŠ” ì œì™¸ 
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    # top_nì˜ 2ë°°ì— í•´ë‹¹í•˜ëŠ” í›„ë³´êµ°ì—ì„œ weighted_voteê°€ ë†’ì€ ìˆœìœ¼ë¡œ top_në§Œí¼ ì¶”ì¶œ 
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

similar_movies = find_sim_movie(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title', 'vote_average', 'weighted_vote']]

                            title  vote_average  weighted_vote
2731       The Godfather: Part II           8.3       8.079586
1847                   GoodFellas           8.2       7.976937
3866                  City of God           8.1       7.759693
1663  Once Upon a Time in America           8.2       7.657811
883           Catch Me If You Can           7.7       7.557097
281             American Gangster           7.4       7.141396
4041              This Is England           7.4       6.739664
1149              American Hustle           6.8       6.717525
1243                 Mean Streets           7.2       6.626569
2839                     Rounders           6.9       6.530427