# üçé ÌååÏù¥Ïç¨ Î®∏Ïã†Îü¨Îãù ÏôÑÎ≤Ω Í∞ÄÏù¥Îìú ÌòºÍ≥µ

### 2019.04.01 ~ 2019.04.11 ÍµêÏû¨ 03-05Ïû•

03. ÌèâÍ∞Ä 
04. Î∂ÑÎ•ò 
05. ÌöåÍ∑Ä

### Î∂ÑÎ•ò Ïã§Ïäµ - Ï∫êÍ∏Ä ÏÇ∞ÌÉÑÎç∞Î•¥ Í≥†Í∞ù ÎßåÏ°± ÏòàÏ∏° 

Í≥†Í∞ùÎßåÏ°± Ïó¨Î∂ÄÎ•º XGBoostÏôÄ LightGBMÏùÑ ÌôúÏö©Ìï¥ ÏòàÏ∏°Ìï† Í≤ÉÏûÑ.

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
train = pd.read_csv('data/04. Santander_train.csv')
train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [3]:
test = pd.read_csv('data/04. Santander_test.csv')
test.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,2,2,32,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,40532.10
1,5,2,35,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45486.72
2,6,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,46993.95
3,7,2,24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,187898.61
4,9,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,73649.73

In [4]:
train.shape

(76020, 371)

ÏïÑÎûò info()Î•º Î≥¥Î©¥, null Í∞íÏù¥ Ï°¥Ïû¨ÌïòÏßÄ ÏïäÎã§Îäî Í≤ÉÏùÑ Ïïå Ïàò ÏûàÏùå.

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76020 entries, 0 to 76019
Columns: 371 entries, ID to TARGET
dtypes: float64(111), int64(260)
memory usage: 215.2 MB

Í∑∏Îüº ÌÉÄÍ≤üÍ∞íÏù¥ Î≠îÏßÄÎ•º ÏïåÏïÑÏïºÏßÄ. ÌÉÄÍ≤üÍ∞íÏùÑ ÏòàÏ∏°Ìï¥Ïïº ÌïòÎäî Í≤ÉÏù¥ÎãàÍπå. 
Í∑∏Î¶¨Í≥† ÌÉÄÍ≤üÍ∞íÏù¥ Ïñ¥Îñ§ ÎπÑÏú®Î°ú ÎêòÏñ¥ ÏûàÎäîÏßÄÎèÑ Ìï®Íªò Î≥¥ÎäîÍ≤å Ï¢ãÏùÑ ÎìØ

In [6]:
train['TARGET'].value_counts()

0    73012
1     3008
Name: TARGET, dtype: int64

In [7]:
unsatisfied_cnt = train[train['TARGET'] == 1]['TARGET'].count()
unsatisfied_cnt

3008

In [8]:
total_cnt = train[train['TARGET'] == 0]['TARGET'].count()
total_cnt

73012

In [9]:
unsatisfied_cnt / total_cnt

0.04119870706185284

ÎåÄÎûµ 0.4%Ïùò ÏÇ¨ÎûåÎì§Ïù¥ Î∂àÎßåÏ°±ÌïúÎã§Í≥† Î≥¥Î©¥ Îê®. Í∑∏Îü¨Î©¥ ÏòàÏ∏°Ìïú Í∞íÎèÑ Î∂àÎßåÏ°±Ìïú Í≤ÉÎì§Ïù¥ ÎÇòÏôÄÏïº Í≤†ÏßÄ!

In [10]:
train.describe()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
count,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,...,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,76020.000000,7.602000e+04,76020.000000
mean,75964.050723,-1523.199277,33.212865,86.208265,72.363067,119.529632,3.559130,6.472698,0.412946,0.567352,...,7.935824,1.365146,12.215580,8.784074,31.505324,1.858575,76.026165,56.614351,1.172358e+05,0.039569
std,43781.947379,39033.462364,12.956486,1614.757313,339.315831,546.266294,93.155749,153.737066,30.604864,36.513513,...,455.887218,113.959637,783.207399,538.439211,2013.125393,147.786584,4040.337842,2852.579397,1.826646e+05,0.194945
min,1.000000,-999999.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.163750e+03,0.000000
25%,38104.750000,2.000000,23.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.787061e+04,0.000000
50%,76043.000000,2.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.064092e+05,0.000000
75%,113748.750000,2.000000,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.187563e+05,0.000000
max,151838.000000,238.000000,105.000000,210000.000000,12888.030000,21024.810000,8237.820000,11073.570000,6600.000000,6600.000000,...,50003.880000,20385.720000,138831.630000,91778.730000,438329.220000,24650.010000,681462.900000,397884.300000,2.203474e+07,1.000000

Î≥¥Î©¥ var3 ÏπºÎüºÏùò Í≤ΩÏö∞ ÏµúÏÜå Í∞íÏù¥ -999999ÎãàÍπå Ïù¥Î†áÍ≤å ÎêòÎ©¥ ÎãπÏó∞Ìûà ÏÑ±Îä•Ïù¥ Ï¢ãÏïÑÏßÄÏßÄ ÏïäÍ≤†ÏßÄ. 116Í∞úÎÇò ÏûàÏúºÎãàÍπå, Ìé∏Ï∞®Í∞Ä Ïã¨Ìï¥Ï†∏ÏÑú Í∞ÄÏû• Í∞íÏù¥ ÎßéÏùÄ 2Î°ú Î≥ÄÌôòÏùÑ Ìï¥Ï§Ñ Í≤É!

In [11]:
train[train['var3'] == -999999.000000]['var3'].count()

116

In [12]:
train['var3'].replace(-999999.000000, 2, inplace=True)

In [13]:
train.head() # Ïûò Î∞îÎÄåÏóàÍ≥†!

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [14]:
# train.drop('ID',1, inplace=True)  # IDÎäî Ï§ëÏöîÌïú Ïª¨ÎüºÏù¥ ÏïÑÎãàÎùº ÏÇ≠Ï†ú! 
train.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0

In [15]:
X_features = train.iloc[:,:-1] # ÎßàÏßÄÎßâ targetÏùÑ ÏóÜÏï∞ 
X_features

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76015,151829,2,48,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60926.490000
76016,151830,2,39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,118634.520000
76017,151835,2,23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,74028.150000
76018,151836,2,25,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,84278.160000
76019,151838,2,46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [16]:
y_labels = train.iloc[:,-1]  # target Í∞íÎßå Îî∞Î°ú ÎëêÎäî Í≤É! 
y_labels

0        0
1        0
2        0
3        0
4        0
        ..
76015    0
76016    0
76017    0
76018    0
76019    0
Name: TARGET, Length: 76020, dtype: int64

Ïù¥ Îç∞Ïù¥ÌÑ∞Îäî Î∂àÎßåÏ°±Î•†Ïù¥ 0.4Ïù¥ÎØÄÎ°ú ÎπÑÎåÄÏπ≠Ï†Å Îç∞Ïù¥ÌÑ∞ÏûÑ. Í∑∏Îü¨ÎØÄÎ°ú ÌïôÏäµ Îç∞Ïù¥ÌÑ∞ÏôÄ ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞ ÏÑ∏Ìä∏ Î™®Îëê targetÏùò Î∂ÑÌè¨Í∞Ä 0.4ÏôÄ ÎπÑÏä∑Ìï¥ÏïºÏßÄ Ïò¨Î∞îÎ•∏ ÏòàÏ∏°Ïù¥ Í∞ÄÎä•Ìï¥ÏßÄÎäî Í≤É!

In [17]:
from sklearn.model_selection import train_test_split 

X_train, X_test, y_train, y_test = train_test_split(X_features, y_labels, test_size=0.2, random_state=0)

In [18]:
train_cnt = y_train.count()
train_cnt

60816

In [19]:
test_cnt = y_test.count()
test_cnt

15204

In [20]:
y_train.value_counts() / train_cnt

0    0.960964
1    0.039036
Name: TARGET, dtype: float64

In [21]:
y_test.value_counts() / test_cnt

0    0.9583
1    0.0417
Name: TARGET, dtype: float64

In [23]:
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

# n_estimatorsÎäî 500ÏúºÎ°ú, random stateÎäî ÏòàÏ†ú ÏàòÌñâ ÏãúÎßàÎã§ ÎèôÏùº ÏòàÏ∏° Í≤∞Í≥ºÎ•º ÏúÑÌï¥ ÏÑ§Ï†ï
xgb_clf = XGBClassifier(n_estimator=500, random_state=156)

# ÏÑ±Îä• ÌèâÍ∞Ä ÏßÄÌëúÎäî auc, Ï°∞Í∏∞ Ï§ëÎã® ÌååÎùºÎØ∏ÌÑ∞Îäî 100ÏúºÎ°ú ÏÑ§Ï†ïÌïòÍ≥† ÌïôÏäµ ÏàòÌñâ 
xgb_clf(X_train, y_train, early_stopping_rounds=100, 
       eval_metric="auc", eval_set=[(X_train, y_train), (X_train, y_test)])

xgb_roc_score = roc_auc_score(y_test, xgb_clf.predict_proba(X_test[:, 1], average='macro'))
xgb_roc_score

TypeError: 'XGBClassifier' object is not callable